body {
  text-align: center;
  background-color: #303841 ;
}

#level-title {
  font-family: 'Varela Round', cursive;
  font-size: 4.5rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: #FF4136;
  opacity: 0.8;
}

.red {
  background-color:#FFB6C1;
}

.green {
  background-color: #98FB98 ;
}

.blue {
  background-color:#ADD8E6 ;
}

.yellow {
  background-color: #F0E68C ;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
